<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between p-3 ">
            <h2 class="">Machine Manufacture Master</h2>
            <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#machineModal">
                <fa-icon [icon]="faPlus"></fa-icon> <span class="ms-2">Add</span>
            </button>
        </div>
        <div class="modal fade" id="machineModal" tabindex="-1">
            <div class="modal-dialog modal-lg" style="max-height: 90vh; overflow-y: auto;">
                <div class="modal-content">

                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title">Component Form</h5>
                        <button type="button" class="btn-close" (click)="Reset()" data-bs-dismiss="modal"></button>
                    </div>
                    <form [formGroup]="formGroup" class="form-control" (ngSubmit)="Save()">
                        <div class="modal-body">
                            <div *ngFor="let field of formConfig">
                                <app-sharedform [config]="field" [group]="formGroup"></app-sharedform>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal"
                                (click)=" Reset()">Close</button>
                            <button type="submit" class="btn btn-primary w-25"
                                [disabled]="formGroup.invalid">Save</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Serial No</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rec of machineList">
                    <td>{{rec.machineId}}</td>
                    <td>{{rec.machineName}}</td>
                    <td>{{rec.machineSerialNumber}}</td>
                    <td>{{rec.machineModel}}</td>
                    <td>{{rec.machineType}}</td>
                    <td>
                        <button class="btn btn-primary btn-sm mx-1" (click)="Edit(rec.machineId)" data-bs-toggle="modal"
                            data-bs-target="#locationModal">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="Delete(rec.machineId)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="machineList.length === 0">
                    <td colspan="6" style="text-align: center;">No records found</td>
                </tr>
            </tbody>
        </table>
    </div>