<div class="d-flex flex-column p-3 text-white">

  <a routerLink="/master/dashbord" class="text-white text-decoration-none mb-3 fs-5 fw-bold">
     Industrial Manufacturing 
  </a>

  <hr class="text-secondary">

  <ul class="nav nav-pills flex-column mb-auto text-white">

    <li class="nav-item">
      <a routerLink="/master/dashbord"  routerLinkActive="active" class="nav-link ">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/master/machine" routerLinkActive="active" class="nav-link ">
        Machine
      </a>
    </li>

    <li>
      <a routerLink="/master/component" routerLinkActive="active" class="nav-link">
        Component
      </a>
    </li>

    <li>
      <a routerLink="/master/component_operation" routerLinkActive="active" class="nav-link ">
        Component Operation
      </a>
    </li>

    <li>
      <a routerLink="/master/customer" routerLinkActive="active" class="nav-link">
        Customer
      </a>
    </li>

    <li>
      <a routerLink="/master/location" routerLinkActive="active" class="nav-link">
        Location
      </a>
    </li>

    <li>
      <a routerLink="/master/machine_manufacturer" routerLinkActive="active" class="nav-link ">
        Manufacturer
      </a>
    </li>

  </ul>

  <hr class="text-secondary">

</div>